* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand';
  font-weight: 400;
}

.search-content {
  text-align: center;
  margin-bottom: 2rem;
  color: #F3A446;
  font-weight: 700;
}